/* for EditorContent-tiptap */
.tiptap {
  @apply leading-relaxed min-h-16;
}
.tiptap {
  :first-child {
    margin-top: 0;
  }
}
.tiptap:focus {
  outline: none;
}
.tiptap p.is-editor-empty:first-child:before {
  content: attr(data-placeholder);
  color: var(--color-muted-foreground);
  float: left;
  height: 0;
  pointer-events: none;
  @apply text-sm;
}

.tiptap p {
  @apply text-lg leading-8 m-0;
}
