@import 'tailwindcss';
@import './styles/themes.css';

@layer base {
  body {
    /* overscroll-none overflow-hidden */
    @apply relative font-sans bg-background text-foreground;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-none tracking-tight;
  }

  button,
  a,
  [role='button'] {
    @apply cursor-pointer touch-manipulation;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none !important;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
