@import 'tailwindcss';
@import './styles/themes.css';

@layer base {
  body {
    @apply overflow-x-hidden bg-black text-zinc-50 font-sans;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-tight leading-none;
  }

  button {
    @apply cursor-pointer;
  }
}
